/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

/* UTILITY*/
.p-20 {
    padding: 20px;
}

/* LAYOUT */
.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #55423d;
}

/* HEADER */

.header {
    color: #ffc0ad;
}

.header h1 {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
}

.header h1 span {
    color: #e78fb3;
}

/* SEARCH */
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #55423d;
    background: #ffc0ad;
}

.wrap-select {
    position: relative;
    margin-left: 10px;
}

.wrap-select select {
    appearance: none;
    width: 200px;
    height: 35px;
    font-size: 16px;
    color: #55423d;
    background: transparent;
    border: 1px solid #55423d;
}

/* arrow */
.wrap-select::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    border: 5px solid transparent;
    border-top: 5px solid #55423d;
    /*
    border-right: 10px solid green;
    border-bottom: 10px solid blue;
    border-left: 10px solid yellow;
    */
    transform: translateY(-25%);
}

/* ICONS */
.icons {
    flex-grow: 1;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 20px 10px;
    background: #55423d;
}

.icons .icon {
    flex-basis: calc(100% / 6 - 20px);
    margin: 20px 10px;
    text-align: center;
    text-transform: uppercase;
    font-size:14px;
    background: #ffc0ad;
    border-radius: 3px;
}

.icons .icon i {
    margin-bottom: 20px;
    font-size: 38px;
}